.searchbar {
  text-align: center;
}
.bar {
  height: 30px;
  width: 400px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  transition: 0.4s case-out;
  border: 5px solid black;
}
button {
  height: 37px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: black;
  font-size: 18px;
  color: white;
}
